@inject HttpClient Http

@using WasmTest1.Pages.Account;


<h3>Login</h3>

<EditForm Model="loginModel" OnValidSubmit="login">
    <InputText id="username" @bind-Value="loginModel.Username" />
    <InputText id="password" type="password" @bind-Value="loginModel.Password" />
    <button type="submit">Log in</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task login()
    {
        var response = await Http.PostAsJsonAsync("api/Account/Manage/PerformExternalLogin", loginModel);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<AuthResult>();
            // Use the result (e.g., save the token, navigate to another page, etc.)
        }
        else
        {
            // Handle the error
        }
    }
}

@* @code {
    public async Task Login()
    {
        var loginModel = new LoginModel
            {
                Username = "username",
                Password = "password"
            };


        var response = await Http.PostAsJsonAsync("api/Account/Manage/PerformExternalLogin", loginModel);
        // var response = await Http.PostAsJsonAsync("api/auth/login", loginModel);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<AuthResult>();
            // Use the result (e.g., save the token, navigate to another page, etc.)
        }
        else
        {
            // Handle the error
        }
    }
}
 *@
