@page "/obstacles"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject WebUI.Data.DataContext DB
@using WebUI.Entity

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="obstacles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Obstacles">
    <PropertyColumn Property="obstacle => obstacle.Name" />

    <TemplateColumn Context="obstacle">
        <a href="@($"obstacles/edit?obstacleid={obstacle.ObstacleId}")">Edit</a> |
        <a href="@($"obstacles/details?obstacleid={obstacle.ObstacleId}")">Details</a> |
        <a href="@($"obstacles/delete?obstacleid={obstacle.ObstacleId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
