@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<HundeRally.Wasm.Pages.Account.Login/>
<HundeRally.Wasm.Pages.Obstacles.Obstacles />
@* <HundeRally.Wasm.Pages.Obstacles.CreateObstacle />
 *@